.shopping-cart{
  position: absolute;
  top: 2rem;
  margin-top: 5px;
  background-color: #1A1A1A;
  width: 400px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: scroll;
  border: 2px solid white;
}
.center {
  align-items: center;
}
.slide-in {
  animation: slide-in 150ms;
  right: 0;
}
.slide-out {
  animation: slide-out 150ms;
  right: -400px;
}
.cart-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff4d;
  padding: 1rem;
}
.subtotal-value {
  font-weight: bold;
}
.cart-img {
  height: 175px;
}
.cart-desc-cont, .cart-qty-cont {
  display: flex;
}
.cart-qty-cont {
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 1rem;
}
.cart-desc {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin-left: 1rem;
  font-size: 1rem;
}
.in-stock {
  color: #00b400;
}
.update-qty {
  display: flex;
  gap: .5rem;
  font-size: 1.5rem;
  align-items: center;
}
.inc-dec-button {
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.cart-qty {
  width: 3rem;
  text-align: center;
  overflow: scroll;
}
.rm-button {
  width: 5rem;
}
.checkout {
  height: 2rem;
  width: 100%;
}
@keyframes slide-in {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}
@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}