.home-body {
  font-size: 5rem;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:contain;
  height: 100vh;
  width: 100vw;
}