* {
  /* border: 1px solid; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1A1A1A;
  color: white;
  text-shadow: -1px .5px 1px black;
  margin: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}