.logo {
  text-decoration: none;
  color: white;
}
.shop-body {
  display: flex;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.shop-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* padding: 20px; */
  gap: 20px;
}
.shop-window {
  display: flex;
}