
.sidebar {
  min-width: 265px;
  user-select: none;
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: bold;
}
.label-filter {
  display: inline-block;
  width: 90%
}
.label-filter:hover {
  background-color: #ffffff25;
}